In [1]:
from pycaret.classification import setup, compare_models, pull
import pandas as pd

In [2]:
df = pd.read_csv("../../data_p2/eda_v1.csv", encoding='utf-8')

In [3]:
setup(data=df, target='churn', session_id=42, fix_imbalance=True)
compare_models()
results = pull()  # 결과표 DataFrame
print(results[['Model', 'Recall']].sort_values('Recall', ascending=False))

                                    Model  Recall
knn                K Neighbors Classifier  0.9998
qda       Quadratic Discriminant Analysis  0.9942
et                 Extra Trees Classifier  0.9900
dt               Decision Tree Classifier  0.9847
catboost              CatBoost Classifier  0.9649
nb                            Naive Bayes  0.9462
xgboost         Extreme Gradient Boosting  0.8564
lightgbm  Light Gradient Boosting Machine  0.6910
lda          Linear Discriminant Analysis  0.6640
ridge                    Ridge Classifier  0.6640
lr                    Logistic Regression  0.6157
ada                  Ada Boost Classifier  0.5766
gbc          Gradient Boosting Classifier  0.5716
svm                   SVM - Linear Kernel  0.4725
dummy                    Dummy Classifier  0.0000

In [4]:
from pycaret.classification import *

# setup 실행 시 반환값을 s에 저장
s = setup(data=df, target='churn', session_id=42, fix_imbalance=True, verbose=True)

In [7]:
from pycaret.classification import *

s = setup(data=df, target='churn', session_id=42, fix_imbalance=True, verbose=True)
print(s.pipeline)  # 또는 print(s._pipeline) (버전에 따라 다름)

Pipeline(memory=FastMemory(location=/tmp/joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(exclude=None,
                                    include=['price_p1', 'price_p2', 'price_p3',
                                             'pp12', 'pp23', 'pp13', 'cons_12m',
                                             'cons_gas_12m', 'cons_last_month',
                                             'forecast_cons_12m',
                                             'forecast_cons_year',
                                             'forecast_discount_energy',
                                             'forecast_meter_rent_12m',
                                             'forecast_price_energy_p1',
                                             'forecast_pri...
                                                              missing_values=nan,
                                                              strategy='most_frequent'))),
                ('balance',
                 TransformerWrapper(exclude=None, include=None,
                                    transformer=FixImbalancer(estimator=SMOTE(k_neighbors=5,
                                                                              random_state=42,
                                                                              sampling_strategy='auto')))),
                ('clean_column_names',
                 TransformerWrapper(exclude=None, include=None,
                                    transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+')))],
         verbose=False)